<form>
  <div class="form-innerLabel">
    <div class="form-group">
        <label>{{ 'dashboard.config.opr_channel' | oprL10n }}:</label>
        <channel-input ci-model="currentWidget.opr_channel" ci-vars="currentWidget.opr_channel_vars"></channel-input>
    </div>
    <div class="form-group">
        <label>{{ "dashboard.config.opr_field" | oprL10n }}:</label>
        <multiple-select type="dropdown" id="dataFields" ms-model="currentWidget.opr_field" ms-list="dataFields"> </multiple-select>
    </div>
  </div>

  <div class="form-innerLabel">


    <div class="form-group">
        <label for="bvd_range">Range:</label>
        <input class="form-control" name="bvd_max_range" type="number" placeholder="{{'dashboard.config.defaultPlaceholder'|oprL10n}}" id="bvd_range" ng-model="currentWidget.bvd_range">
    </div>

    <div class="form-group">
        <label for="opr_visibility_rule">{{"dashboard.config.visibilityRule"|oprL10n}}:</label>
        <input type="text" class="form-control" placeholder="{{'dashboard.config.defaultPlaceholder'|oprL10n}}" id="opr_visibility_rule" ng-model="currentWidget.opr_visibility_rule">
    </div>

    <div class="form-group hyperlink" id="validateUrl">
      <label for="hyperlink">
        <span ng-show="!invalidUrl || hyperlinkType==='dashboard'">{{ 'dashboard.config.hyperlink' | oprL10n}}:</span>
        <span ng-show="invalidUrl && hyperlinkType==='manual'">{{ 'dashboard.config.validateUrl' | oprL10n }}</span>
      </label>
      <div class="radio">
        <label >
          <input type="radio" id="hyperlink-dashboard" ng-model="hyperlinkType" value="dashboard">
          <span>{{ 'dashboard.config.radioButtonDashboard' | oprL10n}}</span>
        </label>
        <label>
          <input type="radio" id="hyperlink-url" ng-model="hyperlinkType" value="manual">
          <span>{{ 'dashboard.config.radioButtonManual' | oprL10n}}</span>
        </label>
      </div>
      <input type="text" class="form-control to-url" ng-show="hyperlinkType === 'manual'" placeholder="{{'dashboard.config.defaultPlaceholder'|oprL10n}}" onclick="this.select()" id="hyperlink" ng-model="currentWidget.opr_hyperlink">
      <select type="dropdown" class="form-control to-dashboard" id="hyperlink_select" ng-show="hyperlinkType === 'dashboard'" name="stateSelect" ng-model="currentWidget.opr_hyperlink" ng-options="dashboard.hyperlink as dashboard.title for dashboard in dashboardList">
        <option value="">  </option>
      </select>
    </div>
  </div>
</form>
